!!! 5
%html
  %head
    %meta{http-equiv:'Content-Type', content:'text/html; charset=UTF-8'}
    %meta{name:'viewport',content:'initial-scale = 1.0,maximum-scale = 1.0'}
    %meta{name:"language",content:"nl_NL"}

    %link{'rel':'stylesheet','href':'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'}
    %link{'rel':'stylesheet','href':'./stylesheets/default.css'}

    %script{src:'//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'}
    %script{src:'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'}


    %title Kinderdagverblijf Het Vlindertje

  %body
    #cover
      #logo
        .container
          .row
            .col-md-12
                %img.img-responsive{src:'./img/het-vlindertje.png'}
