<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <meta content='initial-scale = 1.0,maximum-scale = 1.0' name='viewport' />
    <meta content='nl_NL' name='language' />

    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' rel='stylesheet' />
    <link href='./stylesheets/default.css' rel='stylesheet' />

    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
    <block>name="head"</block>

    <title>Kinderdagverblijf Het Vlindertje</title>

  </head>
  <body>
    <block>name="body"</block>
  </body>
</html>
