<%inherit file="_base.haml" />

<%def name="body()">
  .container
    %h1.page-header Bel me terug
    %iframe(src="https://docs.google.com/forms/d/1KMxco5stUPTCW0jALgKTknbW8MTWOTGM-zXnWFhnTt0/viewform?embedded=true", width='100%', height="1200", frameborder="0",style="border:0")
</%def>
