<%inherit file="_base.haml" />

<%def name="body()">
  .container
    .row
      .col-md-12
        %h1.page-header Contact
    .row
      .col-md-12
        %h3.page-header Adres
      .col-md-3
        %p
          Lelstraat 2<br />
          2951VE Alblasserdam<br />
          %a(href='mailto:info@kdvhetvlindertje.nl') info@kdvhetvlindertje.nl<br />
          078-3033009
      .col-md-9
        %iframe(width='100%', height="450", frameborder="0",style="border:0",src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBvnfdGv3Q4JkH7p-K9XwYcFIuN4ePmMKQ&q=Lelstraat+2,2951VE+Alblasserdam",allowfullscreen='true')

</%def>
