<%inherit file="_base.haml" />

<%def name="body()">
    <div class="container">
        <h1 class="page-header">Meer informatie</h1>

        <h3 class="page-header">Inspectierapporten</h3>
        <p>
            In het Landelijk Register Kinderopvang (LRK) kunt u ons terugvinden. Dit betekent dat wij voldoen aan alle kwaliteitseisen van de Wet Kinderopvang. In dit register kunt u onze gegevens vinden, inclusief de inspectierapporten van de GGD. Jaarlijks worden wij gecontroleerd middels een onaangekondigde inspectie van een GGD-inspecteur.
        </p>
        <p>
            U kunt op
            <a href="https://www.landelijkregisterkinderopvang.nl/pp/#/inzien/oko/gegevens/8830c7c2-936b-437d-a74c-6974abbf0968">www.landelijkregisterkinderopvang.nl</a>
            alle inspectierapporten lezen. U kunt zoeken op locatienaam en gemeente of op LRK-nummer.
        </p>

        <h3 class="page-header">Pedagogisch beleid</h3>
        <p>
            U kunt de laatste versie van ons pedagogisch beleid hier
            <a href="./img/pedagogisch-beleid-KDV-het-vlindertje-v4.3.pdf">downloaden</a>.
        </p>

        <h3 class="page-header">Andere vragen</h3>
        <p>
            Wilt u meer informatie, of heeft u specifieke vragen? Vul dan onderstaand formulier in, en we nemen zo snel mogelijk contact met u op.
        </p>
        <iframe 
            src="https://docs.google.com/forms/d/1KMxco5stUPTCW0jALgKTknbW8MTWOTGM-zXnWFhnTt0/viewform?embedded=true" 
            width="100%" 
            height="1200" 
            frameborder="0" 
            style="border:0;">
            Het formulier wordt geladen...
        </iframe>
    </div>
    <style>
        #callme { display: none !important; }
    </style>
</%def>