<%inherit file="_base.haml" />

<%def name="body()">
  .container
    %h1.page-header Meer informatie
    %h3.page-header Inspectierapporten
    %p In het Landelijk Register Kinderopvang (LRK) kunt u ons terugvinden. Dit betekent dat wij voldoen aan alle kwaliteitseisen van de Wet Kinderopvang. In dit register kunt u onze gegevens vinden, inclusief de inspectierapporten van de GGD. Jaarlijks worden wij gecontroleerd middels een onaangekondigde inspectie van een GGD-inspecteur.
    %p
      U kunt op
      %a(href='https://www.landelijkregisterkinderopvang.nl/pp/#/inzien/oko/gegevens/8830c7c2-936b-437d-a74c-6974abbf0968') www.landelijkregisterkinderopvang.nl
      alle inspectierapporten lezen. U kunt zoeken op locatienaam en gemeente of op LRK-nummer.
    %h3.page-header Pedagogisch beleid
    %p
      U kunt de laatste versie van ons pedagogisch beleid hier
      %a(href='./img/pedagogisch-beleid-KDV-het-vlindertje-v4.3.pdf') downloaden
      \ .
    %h3.page-header Andere vragen
    %p Wilt u meer informatie, of heeft u specifieke vragen? Vul dan onderstaand formulier in, en we nemen zo snel mogelijk contact met u ip.
    %iframe(src="https://docs.google.com/forms/d/1KMxco5stUPTCW0jALgKTknbW8MTWOTGM-zXnWFhnTt0/viewform?embedded=true", width='100%', height="1200", frameborder="0",style="border:0")  Het formulier wordt geladen...
  %style
    \#callme {display: none !important}
</%def>
