<%inherit file="_base.haml" />

<%def name="body()">
  .container
    %h1.page-header Openingstijden
    %p Kinderdagverblijf 'Het Vlindertje' is op maandag t/m vrijdag van 7.00 &mdash; 18.00 uur geopend.
    %p Wij zijn gesloten op algemeen erkende feestdagen.
</%def>
