<%inherit file="_base.haml" />

<%def name="body()">
    <div class="container">
        <h1 class="page-header">Openingstijden</h1>
        <p>
            Kinderdagverblijf 'Het Vlindertje' is op maandag t/m vrijdag van 7.00 &mdash; 18.00 uur geopend.
        </p>
        <p>
            Wij zijn gesloten op algemeen erkende feestdagen.
        </p>
    </div>
</%def>