<%inherit file="_base.haml" />

<%def name="body()">
  .container
    %h1.page-header
      Tarieven
    %a.pull-right(href='./img/tarieven-2017-het-vlindertje.pdf')
      Downloaden
    %iframe(src='./img/tarieven-2017-het-vlindertje.pdf', width='100%', height='2500', frameborder="0",style="border:0",)
</%def>
